#header {
    position: absolute;
    width: 100%;
    background-color: #77bc3f;
    height: 7vh;
}

#header-content {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display:flex;
    align-items:center;
}

.logo {
    height: 70%;
    margin-left: 20%;
}

#nav {
    margin-left: 5%;
    height: 70%;
    width: 50%;
    display:flex;
    align-items:center;
}

.header-link {
    margin-right: 5%;
    font-size: 1.2em;
    color: white;
}

#footer {
  font-size: 18px;
  position: fixed;
  bottom: 0px;
  background-color: #ecf0f1;
  height: 20%;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.7;
}

#footer-content {
  padding: 20px;
}

.footer-link {
  color: #18bc9c;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

#root {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 70%;
}
 
#main {
    font-size: 1vw;
    height: 90%;
    width: 70%;
    margin: 0 auto;
}

#content-header {
    text-align: center;
    font-size: 1.2vw;
}

#image-upload-wrapper {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-file-upload {
  height: 10rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
  background-color: #e0fcf7;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.selector {
    width: 25%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-btn {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="checkbox"].switch_1{
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-left: 10px;
}
  
input[type="checkbox"].switch_1:checked{
    background: #20f1cb;
}
  
input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
  
input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.5em);
}
	
/* Switch 1 Specific Style End */

@media screen and (max-width: 1024px) {
    #header {
        position: absolute;
        width: 100%;
        background-color: #77bc3f;
        height: 12vh;
    }

    #header-content {
        width: 50%;
        height: 90%;
        margin: 0 auto;
        display: block;
        padding-top: 5px;
    }

    .logo {
        height: 50%;
        margin-left: 25%;
    }

    #nav {
        height: 50%;
        width: 70%;
        margin-left: 15%;
        display: block;
    }
    
    .header-link {
        font-size: 2.5vw;
        margin: 0 auto;
        display: block;
        padding-left: 40%;
        padding-top: 5px;
    }

    #footer {
        font-size: 2.5vw;
        position: fixed;
        bottom: 0px;
        background-color: #ecf0f1;
        height: 23%;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.7;
    }

    #footer-content {
        padding: 5px 20px 20px 20px;
    }

    .footer-link {
        color: #18bc9c;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    #root {
        position: absolute;
        top: 15%;
        width: 100%;
        height: 50%;
        background-color: rgb(83, 130, 130);
    }

    #main {
        font-size: 3.5vw;
    }
    
}

@media screen and (max-width: 500px) {
    #header {
        position: absolute;
        width: 100%;
        background-color: #77bc3f;
        height: 15vh;
    }

    #header-content {
        width: 50%;
        height: 85%;
        margin: 0 auto;
        display: block;
        padding-top: 5px;
    }

    .logo {
        height: 35%;
        margin-left: 10%;
    }

    #nav {
        height: 50%;
        width: 70%;
        margin-left: 15%;
        display: block;
    }
    
    .header-link {
        font-size: 3.5vw;
        margin: 0 auto;
        display: block;
        padding-left: 25px;
        padding-top: 12px;
    }

    #footer {
        font-size: 3.5vw;
        position: fixed;
        bottom: 0px;
        background-color: #ecf0f1;
        height: 25%;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.7;
    }

    #footer-content {
        padding: 5px 20px 20px 20px;
    }

    .footer-link {
        color: #18bc9c;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    #root {
        position: absolute;
        top: 15%;
        width: 100%;
        height: 50%;
        background-color: rgb(83, 130, 130);
    }

    #main {
        font-size: 3.5vw;
    }
    
}

